@import 'partials/leaflet-tutorial';


$c-brand: #ccc;
$c-brand-sub: #fcc;
.testing {
    width: percentage(5/7);
    display: flex;
    transition: all .5s;
    user-select: none;
    background: linear-gradient(to bottom, white, black);
}


.chart {
    div{
        background-color: steelblue;
        //border: 1px solid #fff;
        margin: 2px;
        padding: 5px;
        
        color: #fff;
        text-align: right;
        
        &:hover{
            background-color: brown;
        }
    }
    
    rect{
        fill: steelblue;
        
        &:hover{
            fill:brown;
        }
    }
    
    text{
        fill: white;
        font: 10px sans-serif;
        text-anchor: end;
    }
}


 
body {
   
    padding: 15px;
    border-radius: 60px;
    h1 {
        color: $c-brand-sub;
        text-align: center;
        font-size: 80px;
    }
    h2 {
        color: darkblue;
        text-align: center;
        margin-top: 600px;
        font-size: 400px;
        font-style: italic;
    }
}


.text-on-click{
    &:hover{
        color: lighten(darkblue, 20%);
    }
}

p {
    color: red;
    text-align: justify;
    display: flex;
    align-items: flex-start;
    transition: all 0.8s ease-in-out;
    &:hover {
        color: lighten(red, 80%);
        transform: translate3d(0, 30px, 30px) scale(1.5) rotate(30deg);
    }
}

